# NASA API (https://api.nasa.gov)
NASA_API_KEY=DEMO_KEY 

# Weather APIs (https://www.weatherapi.com/)
WEATHER_API_KEY=your_weatherapi_key           

# Moon & Astronomy
USNO_API_ENDPOINT=https://aa.usno.navy.mil/api

# Aurora Tracking (https://aurorasaurus.org/apidocs)
AURORASAURUS_API_KEY=your_aurorasaurus_key   
AURORASAURUS_API_ENDPOINT=https://api.aurorasaurus.org

# Open Notify (ISS Tracking)
ISS_API_ENDPOINT=http://api.open-notify.org
